extends layout


block content
  .sidenav
    h1
      | TRIALS    
      br
      | LOOKUP 
      form(action='/userSearch', method='POST')
        input(type='text', name='playername', placeholder='ENTER NAME', required='')
        button(type='submit' onsubmit='/userSearch') Search
  .content
    #contentbox
      table#map
        tbody
          tr
            td 
              h2 Current Map:
          tr
            td
              img(src='img/mapplaceholder.png')
          tr
            td
              h2 Current Topdown:
          tr
            td 
              p TOPDOWN