extends layout


block content
  .sidenav
    h1
      | TRIALS    
      br
      | LOOKUP 
      form(action='/userSearch', method='POST')
        input(type='text', name='playername', placeholder='ENTER NAME', required='')
        button(type='submit' onsubmit='/userSearch') Search
  .content
    #contentbox
      table#map
        tbody
          tr
            td
              h2 Current Map:
          tr
            td
              img(src='https://static0.gamerantimages.com/wordpress/wp-content/uploads/2021/12/Call-of-Duty-Modern-Warfare-2-Rust-Map.jpg?q=50&fit=crop&w=740&dpr=1.5')
          tr
            td
              h2 Current Topdown:
          tr
            td 
              p TOPDOWN