* {
    font-family: 'Manrope';
    color: #DDD;
    background-color: rgb(26,26,26);
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Manrope";
  }
  p {
    color: darkgrey;
  }
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 25%;
    padding-left: 10%;
    /*background-color: rgb(26,26,26);*/
  }

  #map{
    width: 80%;
    border-spacing: 0vw 2vw;
  }
  #map td p{
    background-color: #111;
    padding: 1vw 2vw;
  }
  #map td h2{
    background-color: rgb(26,26,26);
    padding: 0vw 0vw;
  }
  #map td img{
    background-color: rgb(26,26,26);
    height: 50%;
    width: 60vw;
  }

  #map p{
    background-color: #111;
  }

  #search {
      margin-left: 10%;
      size: 10vw;
  }
  
  .sidenav h1 {
      margin-left: 10%;
      background-color:#111;
      color: #DDD
  }

  .sidenav form {
    background-color:#111
  }

  
  @media screen and (max-width: 750px) {
    .sidenav {
      width: 100%;
      height: 20%;
      position: relative;
    }
    .sidenav a {float: left;}
    .sidenav h1 br{
      display:none;
    }
    .content {margin-left: 0%;}
    #map{
      width: 90%;
    }
    #map td img{
      height: auto;
      width: 100%;
    }
  }
